aclocal.m4
autom4te.cache/
bin/opensrf-perl.pl
bin/osrf_config
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
doc/dokuwiki-doc-stubber.pl
examples/math_bench.pl
examples/math_client.py
examples/math_xul_client/Makefile
examples/multisession-test.pl
examples/simple_text.py
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
src/c-apps/.deps/
src/c-apps/.libs/
src/c-apps/Makefile
src/c-apps/Makefile.in
src/c-apps/*.la
src/c-apps/*.lo
src/c-apps/*.o
src/c-apps/timejson
src/gateway/.libs/
src/gateway/Makefile
src/gateway/Makefile.in
src/gateway/*.la
src/gateway/*.lo
src/gateway/*.o
src/gateway/*.slo
src/java/deps/
src/java/.lib/
src/java/Makefile
src/java/Makefile.in
src/java/opensrf.jar
src/jserver/.deps/
src/jserver/Makefile
src/jserver/Makefile.in
src/libopensrf/.deps/
src/libopensrf/*.la
src/libopensrf/*.lo
src/libopensrf/*.o
src/libopensrf/.libs/
src/libopensrf/Makefile
src/libopensrf/Makefile.in
src/libopensrf/opensrf-c
src/libopensrf/osrf_json_test
src/Makefile
src/Makefile.in
src/perl/blib/
src/perl/_build/
src/perl/Build
src/perl/Makefile
src/perl/Makefile.in
src/perl/MYMETA.json
src/perl/MYMETA.yml
src/ports/strn_compat/Makefile
src/python/build/
src/python/Makefile
src/python/Makefile.in
src/python/OpenSRF.egg-info/
src/python/opensrf.py
src/python/*/*.pyc
src/python/osrf/apps/__init__.pyc
src/router/.deps/
src/router/.libs/
src/router/Makefile
src/router/Makefile.in
src/router/opensrf_router
src/router/*.o
src/srfsh/.deps/
src/srfsh/.libs/
src/srfsh/Makefile
src/srfsh/Makefile.in
src/srfsh/srfsh
src/srfsh/srfsh.o
tests/.deps/
tests/.libs/
tests/*.o
tests/check_osrf_json_object
tests/check_osrf_list
tests/check_osrf_message
tests/check_osrf_stack
tests/check_transport_client
tests/check_transport_message
tests/Makefile
tests/Makefile.in
