aclocal.m4
autom4te.cache/
bin/opensrf-perl.pl
bin/osrf_config
bin/osrf_ctl.sh
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
doc/dokuwiki-doc-stubber.pl
examples/math_bench.pl
examples/math_client.py
examples/math_xul_client/Makefile
examples/multisession-test.pl
examples/simple_text.py
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
src/c-apps/.deps/
src/c-apps/.libs/
src/c-apps/Makefile
src/c-apps/Makefile.in
src/c-apps/osrf_dbmath.la
src/c-apps/osrf_dbmath.lo
src/c-apps/osrf_dbmath.o
src/c-apps/osrf_math.la
src/c-apps/osrf_math.lo
src/c-apps/osrf_math.o
src/c-apps/osrf_version.la
src/c-apps/osrf_version.lo
src/c-apps/osrf_version.o
src/c-apps/timejson
src/c-apps/timejson.o
src/gateway/Makefile
src/gateway/Makefile.in
src/java/deps/
src/java/.lib/
src/java/Makefile
src/java/Makefile.in
src/java/opensrf.jar
src/jserver/.deps/
src/jserver/Makefile
src/jserver/Makefile.in
src/libopensrf/.deps/
src/libopensrf/libopensrf.la
src/libopensrf/libopensrf_la-log.lo
src/libopensrf/libopensrf_la-log.o
src/libopensrf/libopensrf_la-md5.lo
src/libopensrf/libopensrf_la-md5.o
src/libopensrf/libopensrf_la-osrf_application.lo
src/libopensrf/libopensrf_la-osrf_application.o
src/libopensrf/libopensrf_la-osrf_app_session.lo
src/libopensrf/libopensrf_la-osrf_app_session.o
src/libopensrf/libopensrf_la-osrf_cache.lo
src/libopensrf/libopensrf_la-osrf_cache.o
src/libopensrf/libopensrf_la-osrfConfig.lo
src/libopensrf/libopensrf_la-osrfConfig.o
src/libopensrf/libopensrf_la-osrf_hash.lo
src/libopensrf/libopensrf_la-osrf_hash.o
src/libopensrf/libopensrf_la-osrf_json_object.lo
src/libopensrf/libopensrf_la-osrf_json_object.o
src/libopensrf/libopensrf_la-osrf_json_tools.lo
src/libopensrf/libopensrf_la-osrf_json_tools.o
src/libopensrf/libopensrf_la-osrf_json_xml.lo
src/libopensrf/libopensrf_la-osrf_json_xml.o
src/libopensrf/libopensrf_la-osrf_legacy_json.lo
src/libopensrf/libopensrf_la-osrf_legacy_json.o
src/libopensrf/libopensrf_la-osrf_list.lo
src/libopensrf/libopensrf_la-osrf_list.o
src/libopensrf/libopensrf_la-osrf_message.lo
src/libopensrf/libopensrf_la-osrf_message.o
src/libopensrf/libopensrf_la-osrf_parse_json.lo
src/libopensrf/libopensrf_la-osrf_parse_json.o
src/libopensrf/libopensrf_la-osrf_prefork.lo
src/libopensrf/libopensrf_la-osrf_prefork.o
src/libopensrf/libopensrf_la-osrf_settings.lo
src/libopensrf/libopensrf_la-osrf_settings.o
src/libopensrf/libopensrf_la-osrf_stack.lo
src/libopensrf/libopensrf_la-osrf_stack.o
src/libopensrf/libopensrf_la-osrf_system.lo
src/libopensrf/libopensrf_la-osrf_system.o
src/libopensrf/libopensrf_la-osrf_transgroup.lo
src/libopensrf/libopensrf_la-osrf_transgroup.o
src/libopensrf/libopensrf_la-osrf_utf8.lo
src/libopensrf/libopensrf_la-osrf_utf8.o
src/libopensrf/libopensrf_la-sha.lo
src/libopensrf/libopensrf_la-sha.o
src/libopensrf/libopensrf_la-socket_bundle.lo
src/libopensrf/libopensrf_la-socket_bundle.o
src/libopensrf/libopensrf_la-string_array.lo
src/libopensrf/libopensrf_la-string_array.o
src/libopensrf/libopensrf_la-transport_client.lo
src/libopensrf/libopensrf_la-transport_client.o
src/libopensrf/libopensrf_la-transport_message.lo
src/libopensrf/libopensrf_la-transport_message.o
src/libopensrf/libopensrf_la-transport_session.lo
src/libopensrf/libopensrf_la-transport_session.o
src/libopensrf/libopensrf_la-utils.lo
src/libopensrf/libopensrf_la-utils.o
src/libopensrf/libopensrf_la-xml_utils.lo
src/libopensrf/libopensrf_la-xml_utils.o
src/libopensrf/libosrf_json.la
src/libopensrf/libosrf_json_la-log.lo
src/libopensrf/libosrf_json_la-log.o
src/libopensrf/libosrf_json_la-md5.lo
src/libopensrf/libosrf_json_la-md5.o
src/libopensrf/libosrf_json_la-osrf_hash.lo
src/libopensrf/libosrf_json_la-osrf_hash.o
src/libopensrf/libosrf_json_la-osrf_json_object.lo
src/libopensrf/libosrf_json_la-osrf_json_object.o
src/libopensrf/libosrf_json_la-osrf_json_tools.lo
src/libopensrf/libosrf_json_la-osrf_json_tools.o
src/libopensrf/libosrf_json_la-osrf_json_xml.lo
src/libopensrf/libosrf_json_la-osrf_json_xml.o
src/libopensrf/libosrf_json_la-osrf_legacy_json.lo
src/libopensrf/libosrf_json_la-osrf_legacy_json.o
src/libopensrf/libosrf_json_la-osrf_list.lo
src/libopensrf/libosrf_json_la-osrf_list.o
src/libopensrf/libosrf_json_la-osrf_parse_json.lo
src/libopensrf/libosrf_json_la-osrf_parse_json.o
src/libopensrf/libosrf_json_la-osrf_utf8.lo
src/libopensrf/libosrf_json_la-osrf_utf8.o
src/libopensrf/libosrf_json_la-string_array.lo
src/libopensrf/libosrf_json_la-string_array.o
src/libopensrf/libosrf_json_la-utils.lo
src/libopensrf/libosrf_json_la-utils.o
src/libopensrf/.libs/
src/libopensrf/log.o
src/libopensrf/Makefile
src/libopensrf/Makefile.in
src/libopensrf/md5.o
src/libopensrf/opensrf-c
src/libopensrf/opensrf.o
src/libopensrf/osrf_hash.o
src/libopensrf/osrf_json_object.o
src/libopensrf/osrf_json_test
src/libopensrf/osrf_json_test.o
src/libopensrf/osrf_json_tools.o
src/libopensrf/osrf_json_xml.o
src/libopensrf/osrf_legacy_json.o
src/libopensrf/osrf_list.o
src/libopensrf/osrf_parse_json.o
src/libopensrf/osrf_utf8.o
src/libopensrf/string_array.o
src/libopensrf/utils.o
src/Makefile
src/Makefile.in
src/perl/blib/
src/perl/_build/
src/perl/Build
src/perl/Makefile
src/perl/Makefile.in
src/perl/MYMETA.json
src/perl/MYMETA.yml
src/ports/strn_compat/Makefile
src/python/build/
src/python/Makefile
src/python/Makefile.in
src/python/opensrf.py
src/router/.deps/
src/router/.libs/
src/router/Makefile
src/router/Makefile.in
src/router/opensrf_router
src/router/osrf_router_main.o
src/router/osrf_router.o
src/srfsh/.deps/
src/srfsh/.libs/
src/srfsh/Makefile
src/srfsh/Makefile.in
src/srfsh/srfsh
src/srfsh/srfsh.o
tests/.deps/
tests/Makefile
tests/Makefile.in
