<?xml version="1.0"?>
<!-- This file follows the standard bootstrap config file layout found in opensrf_core.xml -->
<srfsh>
  <router_name>router</router_name>
  <domain>private.localhost</domain>
  <username>opensrf</username>
  <!-- Password should match the 'opensrf' user in redis-accounts.txt -->
  <passwd>password</passwd>
  <port>6379</port>
  <logfile>LOCALSTATEDIR/log/srfsh.log</logfile>
  <loglevel>4</loglevel>
  <client>true</client>
</srfsh>
